<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="/css/styles.css" type="text/css">
        {{>responsive}}
        <title>404 Error</title>
        {{>header}}
    </head>
    <body>
        <div class="main-content">
          <p class = "errorMsg">{{errorMsg}}</p>  
        </div>
        {{>footer}}
    </body>

</html>